@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

header img {
  width: 100%;
  bottom: 0; }

.main__wrapper {
  display: flex;
  justify-content: center;
  margin: 5% 2% 2% 2%;
  text-align: center;
  line-height: 2.25em;
  padding-bottom: 5%; }

.flex {
  display: flex; }

.a__center {
  align-items: center; }

.colside {
  padding-bottom: 2%; }
  .colside p {
    width: 35%;
    font-size: 1.25em;
    margin-left: 15%;
    line-height: 175%; }
  .colside img:nth-child(odd) {
    margin-left: 5%; }
  .colside img:nth-child(even) {
    margin-left: 23%; }

.colside h1 {
  line-height: 200%; }

.col__one h1, .col__three h1 {
  margin-left: 2%; }

.col__two h1 {
  text-align: right;
  margin-right: 2%; }
.col__two img {
  width: 25%; }

.col__three img {
  width: 26%; }

.info__wrapper div:nth-child(odd) {
  background-color: lightgray; }

footer {
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em; }

.tut_nav {
  float: none;
  clear: both;
  width: 30%;
  margin: 5% 0 5% 5%;
  background: #eee; }

.tut_nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.tut_nav li {
  float: none;
  width: 100%; }

.tut_nav li a {
  display: block;
  width: 100%;
  padding: 20px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.tut_nav li a:hover {
  border-bottom: 0;
  color: #fff; }

.tut_nav li a {
  border-left: 10px solid #3498db; }

.tut_nav li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1; }

.tut_nav li a:hover:after {
  width: 100%; }

.tut_nav li a:after {
  background: #3498db; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff"); }
.banner nav {
  position: relative;
  width: 100%; }

nav,
nav ul {
  max-width: 100%; }

nav ul {
  position: absolute;
  top: -50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.7); }

nav ul li a {
  display: inline-block;
  color: white;
  font: bold 24px/45px 'Quicksand', Sans-Serif;
  text-decoration: none;
  letter-spacing: -1px;
  padding: 0 .5em 0 .5em;
  transition: transform 0.2s ease; }
  nav ul li a:hover {
    background-color: orange;
    transform: scale(1.1); }

h1, h2, p {
  font-family: "Josefin Slab", Arial, serif; }

header h1 {
  position: absolute;
  top: 15%;
  text-align: center;
  margin: auto;
  width: 95%;
  color: white;
  font-size: 10em; }

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.cd-fixed-bg.cd-bg-1 {
  background-image: url("pics/canyon.jpg");
  height: 500px; }

.cd-fixed-bg.cd-bg-2 {
  background-image: url("pics/river_home.jpg"); }

.cd-fixed-bg.cd-bg-3 {
  background-image: url("pics/river_home.jpg");
  height: 500px; }

.cd-scrolling-bg {
  min-height: 100%; }

.sidebar {
  position: fixed;
  display: block;
  height: 9999px;
  width: 6%;
  background-color: lightgray;
  z-index: 1;
  border-right: 1px solid black;
  margin-left: -5%; }
  .sidebar i {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 15% 0; }
    .sidebar i:nth-child(1) {
      margin-top: 50%; }
    .sidebar i:hover {
      background-color: orange;
      color: black; }
  .sidebar a {
    text-decoration: none;
    color: black; }

.tut_options {
  margin: 5% 5% 5% 1%;
  background-color: #eee;
  width: 30%;
  height: auto;
  display: none; }

.tut_options:target {
  display: block;
  animation: slide 0.5s; }

.options {
  width: auto; }
  .options li {
    list-style-type: none;
    font-family: georgia, sans-serif;
    padding: 0.5% 0; }
  .options a {
    color: #444;
    text-decoration: none;
    margin-left: 4%; }

.tut_wrapper {
  display: flex; }

.tut_nav ul li a {
  cursor: pointer; }

@keyframes slide {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 1024px) {
  .tut_options {
    margin-left: 1%;
    width: 50%; }

  .tut_nav {
    width: 50%;
    margin: 0; } }
@media screen and (max-width: 540px) {
  .tut_wrapper {
    display: flex;
    flex-wrap: wrap; }

  .tut_options,
  .tut_nav {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
